// Global styles
@import '../../../../styles/base/settings';

.wrapper {
  padding-top: 1.25rem;
}

.headline {
  font: {
    size: 1rem;
    weight: $font-weight-normal;
  }
  margin-bottom: 1.25rem;
}
