.wrapper {
  position: relative;
}

.input-set {
  margin-bottom: 0.5rem;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.button-clear {
  color: #666;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 10px;
}
